@CHARSET "UTF-8";
body{
background-color:#F2F7F9;
}


.lastquestion{width: 85%;
				margin:0 auto;
				position: relative;
				z-index: 5;
				line-height:20px;
		      }
.lastquestion textarea{
				
				line-height:20px;
				repeat;
				border:solid 2px #E5E5E5;
				color:#E6EAE9;
				width: 100%;
				hight:auto;
				
				}
h1 {
    text-align:center;
    font-family : Microsoft JhengHei;
    
}
h2{

font-family:STHeiti;
}
.div-outside{
         width: 70%;
         height: auto;
         z-index: 1;
         background-color:#F2F7F9;
         padding:20px;
         margin: 0 auto;    
		 border: 6px solid #8FB5C1;
		 -moz-border-radius:15px;
		 -webkit-border-radius:15px;
		 border-radius:15px;
}
.div-inside{
            width: 85%;
            margin:0 auto; 
            position: relative;
            z-index: 5;

}
.div-inside2{
width: 85%;
margin:0 auto;
border-width:1pt;
position: relative;
 z-index: 5;

}
.div-inside3{
width: 85%;
margin:0 auto;
position: relative;
z-index: 5;

}
 p{
font-weight:bold;
color:#000022; 
font-family:STHeiti Light;
line-height:150%;
}
.line{
width:60%;
border-bottom:1px black solid;
border-left-style:none;
border-right-style:none;
border-top-style:none;
background-color:#F2F7F9;
}
.div-inside4 {

width: 85%;
margin:0 auto;
position: relative;
z-index: 5
   
}
table{
 border:1px solid black;width:100%;
}
.table input{
border:2px;
width:100% ;height:100%;
}
textarea { 
    width: 70%;  
    height: 150px; 
    line-height: 150%; 
     padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    
    background: #FFFFFF; 
    } 
   
.div-inside4 input:hover, textarea:hover, 
.div-inside4 input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    } 
.div-inside4 table{
    border:solid 1px #E5E5E5;

}
.select{
	padding:auto;
    border: solid 1px #E5E5E5; 
    outline: 0; 

    background: #FFFFFF; 

}
.textarea1{
width:100%;
height:auto;
overflow:hidden;
}
