
 .tab { width:240px;margin:50px;}
 .tab_menu { clear:both;}
 .tab_menu li { float:left; text-align:center; cursor:pointer; list-style:none; padding:1px 6px; margin-right:4px; background:#F1F1F1; border:1px solid #898989; border-bottom:none;}
 .tab_menu li.hover { background:#DFDFDF;}
 .tab_menu li.selected { color:#FFF; background:#6D84B4;}
 .tab_box { clear:both; border:0px solid #898989; height:auto;}
 .hide{display:none}

 /*层1的样式*/  
.div11{  
/*本层要实现覆盖模式窗口以外全部内容的半透明效果*/  
background-color:#000000;/*背景色*/  
position: absolute ;/*绝对定位，必选，使层绝对依照top,left的标准显示，否则将不能实现覆盖*/  
top:0;/*层与页面顶部距离*/  
left:0;/*层与左侧边距离*/  
z-index:9999;/*当发生重叠时的优先级，数大的会覆盖数较小的，没进行设置的均可视为小于0*/  
display:none; /*层是否可见，初始化none不可见*/  
filter:Alpha(opacity=30);/*过滤颜色，设置透明度（可见度）30，数越小越透明*/  
}  
  
/*层2的样式*/  
.div22{  
/*本层显示在最前端，其它控件均不可用*/  
width:300px;/*显示宽度*/  
height:200px;/*显示高度*/  
position:absolute;/*绝对定位*/  
z-index:9998;/*优先级*/  
display: none;/*是否显示*/  
border:3px inset blue; /*边框：宽度，样式，颜色*/  
background-color:#9999CC;/*背景色*/  
}  