<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="topcheer">
	<select id="getLinkList" resultType="com.topcheer.test.dto.LinkInfo">
		SELECT
		id,
		address,
		tag_info
		tagInfo,
		note,
		create_time timeString
		FROM
		link_info
		ORDER BY create_time
		desc
	</select>
	<!-- 王伟的SQL -->
	<select id="selectQuestionList" parameterType="Integer" resultType="com.topcheer.STSService.dto.Questioninfo">
		SELECT
		ii.issue_id,
		ii.type,
		ii.content,
		oi.option_id,
		oi.content AS optionContent
		FROM
		questionnaire_info AS qi
		LEFT JOIN questionnaire_issue AS qis ON qi.questionnaire_id =
		qis.questionnaire_id
		LEFT JOIN issue_info AS ii ON qis.issue_id = ii.issue_id
		LEFT JOIN issue_option AS io ON ii.issue_id = io.issue_id
		LEFT JOIN option_info AS oi ON io.option_id = oi.option_id
		WHERE
		qi.questionnaire_id =#{Integer}
		ORDER BY
		qis.sort,
		io.sort
	</select>
	<insert id="insertAnswer" parameterType="com.topcheer.STSService.dto.AnswerInsert">
		insert into answer_info(research_id,issue_id,issue_answer) values(#{research_id},#{issue_id},#{issue_answer})
	</insert>
		<select id="w_staffLogin" parameterType="Integer" resultType="com.topcheer.STSService.dto.W_StaffInfo">
		SELECT
	id AS number,
	user_name AS userName
FROM
	staff_info WHERE
			id = #{Integer}
	</select>
		<select id="w_staffManager" parameterType="Integer" resultType="com.topcheer.STSService.dto.W_StaffManagerInfo">
		SELECT
	si.id sId,
	si.user_name sName,
	si.dep_name depName,
	mi.post_name mpostName,
	mi.manage_coverage mCoverage,
	si.confirm_date scDate
FROM
	staff_info AS si,
	manager_info AS mi
	
WHERE
	si.id IN (
		SELECT
			mi.user_id
		FROM
			manager_info AS mi
		WHERE
			mi.manage_coverage = (
				SELECT
					si.dep_name
				FROM
					staff_info AS si,
					staff_project_info AS spi
				WHERE
					si.id = spi.user_id
				AND si.id =  #{Integer}
			)
		OR mi.manage_coverage IN (
			SELECT
				spi.project_name
			FROM
				staff_info AS si,
				staff_project_info AS spi
			WHERE
				si.id = spi.user_id
			AND si.id = #{Integer}
		)
		OR mi.manage_coverage = '开发交付中心'
	)AND si.id=mi.user_id GROUP BY user_id
	</select>
	
	<select id="loginValidate" parameterType="String" resultType="com.topcheer.STSService.dto.UserInfo">
		SELECT
			user_name userName,
			pass_word passWord
		FROM
			user_info
		WHERE
			user_name = #{string}
	</select>
		<!--叶超的sql begin-->
	<select id="getQuestionInfoList" resultType="com.topcheer.STSService.dto.YC_QuestionInfo">
		SELECT
		q2.questionnaire_id,q2.issue_id,i1.content,i1.type
		FROM
		questionnaire_info q1
		LEFT JOIN questionnaire_issue q2 on
		q1.questionnaire_id = q2.questionnaire_id
		LEFT JOIN issue_info i1 on
		q2.issue_id = i1.issue_id
		WHERE q1.questionnaire_id = 1 ORDER BY
		q2.questionnaire_id,q2.sort
	</select>

	<select id="getOptionInfoList" resultType="com.topcheer.STSService.dto.YC_OptionInfo">
		SELECT
		i1.issue_id,i1.sort,o1.content FROM issue_option i1
		LEFT JOIN
		option_info o1 ON i1.option_id = o1.option_id
		ORDER BY
		i1.issue_id,i1.sort
	</select>
	<select id="insertSanshaoAnswer" parameterType="com.topcheer.STSService.dto.YC_AnswerInfo">
		INSERT INTO
		answer_info (research_id,issue_id,issue_answer) VALUES(#{research_id},#{issue_id},#{issue_answer})
	</select>
	<!--叶超的sql end-->
</mapper>
